<div ng-controller="RecipeDetailCtrl">
    <div class="row">
        <div class="col-md-6 nopadding">
            <img src="foodelicious/image/{{recipe.imageId}}" class="img-responsive" style="width: 100%"/>
        </div>
        <div class="col-md-6">
            <div class="padded-container">
                <div class="page-header">
                    <h1>{{recipe.name}} <span class="label label-default">{{recipe.courseType.name}}</span></h1>

                    <p class="lead" ng-bind-html="recipe.description"></p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>
                            {{recipe.servings}} porsjoner<br/>
                        </p>
                        <h3>Ingredienser</h3>
                        <p ng-bind-html="recipe.ingredients"></p>
                    </div>
                    <div class="col-md-9">
                        <p ng-bind-html="recipe.directions"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
