body {
  padding-top: 50px;
}

.nopadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.padded-container {
	padding: 20px;
}

/******************** NEW RECIPE *******************/
.form-control.recipe-directions, .form-control.recipe-description{
	min-height: 10em;
	height: auto ; 
}